@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}

:root {
	--padding: 2.4vw 2vw;
	--bg: #eeeae3;
	--primary-color: #fe320a;
	--secondary-color: rgba(0, 0, 0, 0.7);
	--tertiary-color: rgba(0, 0, 0, 0.5);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: neu;
}
html,
body {
	height: 100%;
	width: 100%;
}

#loader {
	background-color: black;
	width: 100%;
	height: 100%;
	color: var(--bg);
	display: flex;
    align-items: center;
    justify-content: center;
	position: absolute;
	z-index: 999;
	/* top: 0; */
	transition: all ease-in-out 1s;
}

.main {
	/* background-color: var(--bg); */
	position: relative;
	z-index: 10;
}

.container {
	background-color: var(--bg);
}

#page1 {
	padding: var(--padding);
	min-height: 100vh;
	width: 100%;
	background-color: var(--bg);
	position: relative;
}
nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav .links {
	display: flex;
	align-items: center;
	gap: 1vw;
}
nav .links a {
	font-size: 18px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid rgba(66, 65, 65, 0.363);
	border-radius: 50px;
	position: relative;
	overflow: hidden;
	z-index: 9;
	transition: all ease 0.4s;
}
nav .links a::after {
	content: "";
	position: absolute;
	z-index: -1;
	height: 150%;
	width: 100%;
	left: 0;
	bottom: -150%;
	background-color: black;
	border-radius: 50%;
	transition: all ease 0.4s;
}
nav .links a:hover {
	color: white;
}
nav .links a:hover::after {
	bottom: 0;
	border-radius: 0;
}
.hero {
	height: 71vh;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.hero .left h2 {
	width: 30vw;
	font-size: 2vw;
	line-height: 2.2vw;
}
.hero .right{
	position: relative;
	z-index: 2;
}
.hero .right h1 {
	font-size: 10vw;
	line-height: 8vw;
	text-align: end;
	font-weight: 600;
	position: relative;
	z-index: 2;
}

#page1 hr {
	margin: 4vw 0;
}

#page1 video {
	width: 100%;
	border-radius: 30px;
	position: relative;
	z-index: 2;
}

.hero-shape {
	position: absolute;
	height: 35vw;
	width: 40vw;
	right: 0;
	top: 70%;
	z-index: 1;
}
.hero-shape1 {
	background-color: var(--primary-color);
	height: 100%;
	width: 100%;
	border-radius: 50%;
	filter: blur(10px);
	position: absolute;
}

.hero-shape2 {
	background: linear-gradient(var(--primary-color), #fe3f0a);

	height: 30vw;
	width: 30vw;
	border-radius: 50%;
	position: absolute;
	animation-name: anime2;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	filter: blur(25px);
}

.hero-shape3 {
	background: linear-gradient(var(--primary-color), #fe3f0a);
	height: 30vw;
	position: absolute;
	width: 30vw;
	border-radius: 50%;
	filter: blur(25px);
	animation-name: anime1;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* @keyframes anime1 {
	from {
		transform: translate(55%, -3%);
	}

	to {
		transform: translate(0%, 10%);
	}
}

@keyframes anime2 {
	from {
		transform: translate(5%, -5%);
	}

	to {
		transform: translate(-20%, 30%);
	}
} */



#page2 {
	min-height: 100vh;
	width: 100%;
	background-color: var(--bg);
}
.gola {
	align-self: center;
	margin: 1vw 2vw;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: var(--primary-color);
	display: inline-block;
}
.moving-text {
	white-space: nowrap;
	overflow: auto;
}
.moving-text::-webkit-scrollbar {
	display: none;
}
.con {
	white-space: nowrap;
	display: inline-block;
	animation-name: move;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 15s;
}
@keyframes move {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
.con h1 {
	display: inline-block;
	font-size: 140px;
}

#page2-bottom {
	position: relative;
	padding: 65px;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: yellowgreen; */
}
#page2-bottom .left {
	width: max-content;
	position: relative;
	/* background-color: #fe320a; */
}
#page2-bottom .left h1 {
	z-index: 9;
	font-size: 4vw;
	line-height: 4vw;
	position: relative;
}
#page2-bottom .right {
	width: min-content;
	margin-top: 40vh;
	display: flex;
	flex-direction: column;
	gap: 4vw;
}
#page2-bottom .right img {
	height: 15vh;
	border-radius: 15px;
}

#page2-bottom .hero-shape {
	right: 5vh;
	top: 10vh;
	z-index: 0;
}


#page3 {
	background-color: var(--bg);
	padding-top: 8vw;
	min-height: 100vh;
}
.project {
	position: relative;
}
.project-head {
	padding: var(--padding);
	color: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	gap: 10px;
}

#Icons {
	height: 20px;
	rotate: 180deg;
}

#page3 .project .row {
	padding: var(--padding);
	min-height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	transition: all ease 0.4s;
	position: relative;
	z-index: 9;
	overflow: hidden;
}

#page3 .project .row::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #ff9831;
	top: -100%;
	left: 0;
	z-index: -1;
	transition: all ease 0.4s;
}
#page3 .project .row:hover::after {
	top: 0;
}

#page3 .project .row h2 {
	text-align: right;
	font-size: 14px;
	color: var(--secondary-color);
}
#page3 .project .row h2 span {
	color: var(--tertiary-color);
}

.fixed-image {
	height: 28vw;
	width: 23vw;
	max-width: 600px;
	max-height: 800px;
	border-radius: 20px;
	z-index: 99;
	position: fixed;
	background-size: cover;
	top: 20%;
	left: 50%;
}
#page3 .project img{
	display: none;
	padding: var(--padding);
	border-radius: 20px;
	width: 100%;
	height: 40vh;
}
#page4 {
	height: 100vh;
	width: auto;
	background-color: black;
	margin: var(--padding);
	border-radius: 20px;
	display: flex;
	/* flex-direction: column; */
	color: white;
}
.active {
    padding: 0 !important;
    color: white !important;
}
#page4 .left {
	width: 40%;
	display: flex;
	align-items: center;
	padding: var(--padding);
	justify-content: center;
	gap: 100px;
}
#page4 .left .box {
	max-width: 24vw;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}
#page4 .left .top {
	border-left: 1px solid rgba(255, 255, 255, 0.4);
	color: rgba(255, 255, 255, 0.4);
}
#page4 .left .top h1 {
	padding: 0vw 2vw;
	font-size: 4.2vw;
	cursor: pointer;
}
#page4 .right {
	width: 60%;
}
#page4 .right img {
	object-fit: cover;
	height: 100vh;
	width: 100%;
	border-radius: 20px;
}

.swiper {
	width: 100%;
	height: 60vh;
	padding: 7vw 2vw;
	padding-bottom: 15vh;
}

.swiper-slide {
	margin-top: 4vw;
	width: max-content;
	min-width: 300px;
	height: 35vh;
	min-height: 300px;
	padding: var(--padding);
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	border-left: 1px solid rgba(0, 0, 0, 0.2);
}

#page5 {
	height: 45vh;
	width: 100%;
}

#footer {
	height: 45vh;
	width: 100%;
	position: fixed;
	z-index: 9;
	bottom: 0;
	background-color: var(--primary-color);
	color: #ffffff;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

#footer .btm {
	position: relative;
	z-index: 10;
}

#footer .btm h1 {
	font-size: 23vw;
	color: var(--bg);
}

#footer .btm .links {
	display: flex;
	justify-content: space-around;
}
#footer .btm .links a,
#footer .btm .links h4 {
	padding: 1lvw;
	color: white;
	border: none;
	padding: none;
	font-size: 18px;
	text-decoration: none;
}
#footer .back {
	height: 80%;
	width: 100%;
	position: absolute;
	z-index: 9;
	filter: blur(30px);
}

#footer .back .s1 {
	background-color: black;
	height: 300%;
	clip-path: ellipse(45% 36% at 48% 41%);
	filter: blur(10px);
	animation-name: last;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}



/* @keyframes last {
	from {
		clip-path: polygon(12% 4%, 95% 22%, 93% 82%, 14% 89%, 2% 36%);
	}
	to {
		clip-path: polygon(87% 5%, 98% 39%, 93% 82%, 14% 89%, 4% 25%);
	}
} */

@media (max-width: 600px) {
	


	#page1 nav img{
		height: 40px;
	}
	nav .links a {
		font-size: 14px;
		padding: 8px 15px;
	}
	
	#page1 .hero{
		height: 50vh;
		flex-direction: column-reverse;
		justify-content: center;
		gap: 10vw;
	}
	#page1 .hero .left{
		width: 100%;
		text-align: left;
	/* background-color: #fe330a; */
	}
	.hero .left h2 {
		width: 75%;
		font-size: 4.5vw;
		line-height: 5vw;
		position: relative;
		z-index: 4;
	}
	.hero .right h1 {
		font-size: 13vw;
		line-height: 10vw;
		
	}

	#page1 video {
        position: relative;
        border-radius: 15px;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        /* width: 92%; */
        /* margin-left: 4%; */
    }
	.con {
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .moving-text h1 {
        font-size: 10vw;
        /* background-color: lightblue; */
        display: inline-block;
    }

    .gola {
        height: 25px;
        width: 25px;
    }

	#page2{
		min-height: fit-content;
	}

	#page2-bottom{
		/* display: block; */
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 50vh;
	}

	#page2-bottom .left h1 {
		font-size: 6vw;
		line-height: 6vw;
	}
	
	#page2-bottom .right {
		margin-top: 10vh;
		position: relative;
	}
	#page2-bottom .right img {
		height: 25vh;
	}
	#page3 .project .row{
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	#page3 .row h1{
		font-size: 7vw;
	}
	#page3 .project .row h2 {
		text-align: left;
	}
	
	#page3 .project img{
		display: block;
		object-fit: cover;
		border-radius: 20px;

	}
	#page3 .project .row::after {
		top: 0;
		left: -100%;
	}
	.fixed-image{
		display: none;
	}


	#page4{
		height: 85vh;
		min-height: fit-content;
		margin-top: 15vh;
		flex-direction: column;
		padding: 2vw;
		justify-content: space-between;
	}

	#page4 .left{
		width: 100%;
		/* padding: var(--padding); */
		gap: 0;

		/* align-items: center; */
		/* justify-content: center; */
	}
	#page4 .right{
		width: 100%;
		height: max-content;
	}
	#page4 .right img{
		margin-top: 50PX;
		height: 60vh;
		width: 100%;
	}

	#page4 .left .box .top h1{
		font-size: 40px;
		padding-left: none;
	}
	.swiper{
		height: 50vh;
		padding: 5vw 2vw;
		padding-bottom: 10vh;
	}

	#page5{
		height: 30vh;
	}
	#footer{
		height: 100vh;
		align-items: safe flex-end;
	}
}

#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
}

@media (max-width: 400px) {
	#page1 nav .links a {
		font-size: 12px;
		padding: 5px 10px;
	}
	
}